<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.url">jdbc:h2:mem:DungeonAndDragons;</property>
        <property name="connection.username">sa</property>
        <property name="connection.driver_class">org.h2.Driver</property>
    </session-factory>
</hibernate-configuration>